@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a, .btn-link {
    color: #0366d6;
}

.top-row h1 {
    font-size: 28px;
    color: #3f51b5;
    font-weight: 300;
    margin-top: 4px;
}

.top-row h2 {
    font-size: 18px;
    color: #9e9e9e;
    font-weight: 400;
}

.sidebar h1 {
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin: 12px;
}


.render h1 {
    background-color: #eceff1;
    background: linear-gradient(to bottom, #eceff1, #e8eaf6);
    border-bottom: 2px solid #c5cae9;
    font-size: 18px;
    color: #3f51b5;
    margin: 10px 0 0;
    padding: 7px 20px;
    font-weight: 500;
    display: block;
    border: 0;
    vertical-align: baseline;
}

.render h2 {
    background-color: #f2faf9;
    background: linear-gradient(to bottom, #f2faf9, #e0f2f1);
    border: 1px solid #b2dfdb;
    border-right-width: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 16px;
    color: #004d40;
    margin-left: 20px;
    margin-top: 1px;
    margin: 10px 0 0;
    padding: 7px 20px;
    font-weight: 500;
    vertical-align: baseline;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}


pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.top-row {
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.toolbar {
    display: flex;
}

.toolbar a:not([href]):not([tabindex]) {
    
}

.toolbar-btn {
     border: 1px solid black;
     border-radius: 3px;
     align-content: center;
}

.toolbar-btn:hover {
    border: 2px solid blue;
    background: lightblue;
}

.toolbar-btn-selected {
    border: 2px solid blue;
    border-radius: 3px;
    background: lightblue;
    color: lightgoldenrodyellow !important;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    position: relative;
    min-height: 75px;
}

.main .top-row > a {
    margin-left: 1.5rem;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    height: 100%;
    overflow: auto;
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
    position: relative;
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar .nav-link {
    color: white;
}

.sidebar .nav-link:hover {
    color: aqua;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}


#strikethrough {
    font-weight: bolder;
    font-stretch: expanded;
    font-family: 'Baskerville Old Face';
    line-height: 18px;
    font-size: 22px;
    text-decoration: line-through;
    vertical-align: text-bottom;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .sidebar .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
