@page "/editor"
@page "/editor/{PageLink}"
@inherits EditorBase

<div class="top-row px-4">
    <label>Title:</label>
    <input @bind="PageModel.Title" />
    <a @onclick="Save">
        <span class="oi oi-check" aria-hidden="true"></span> Save
    </a>
    <a @onclick="Cancel">
        <span class="oi oi-x" aria-hidden="true"></span> Cancel
    </a>
    <LoginDisplay />
    <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
</div>

<div class="content px-4" style="position: relative; height: 100%;">
    <textarea style="height: 100%; width: 45%; position: absolute; top: 6px; left: 2px; bottom: 6px;" @bind-value="PageModel.Content" @bind-value:event="oninput" />
    <div style="height: 100%; width: 45%; position: absolute; right: 2px; top: 6px; bottom: 6px;">
        <MarkdownRenderer Content="@PageModel.Content" />
    </div>
</div>