@page "/"
@page "/{PageLink}"
@inherits IndexBase

<div class="top-row px-4">
    <NavLink class="nav-link" href="@($"editor/{PageLink}")">
        <span class="oi oi-pencil" aria-hidden="true"></span> Edit Page
    </NavLink>
    <NavLink class="nav-link" href="editor/new">
        <span class="oi oi-plus" aria-hidden="true"></span> Create Page
    </NavLink>
    <LoginDisplay />
    <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
</div>

<div class="content px-4">
    @if (PageModel?.Content != null)
    {
        <text>@((MarkupString)Markdown.ToHtml(PageModel.Content))</text>
    }
    else
    {
        <p>No content found</p>
    }
</div>