<div class="toolbar" style="@Style">
    <a class="btn btn-sm toolbar-btn@(Bold ? "-selected": "")"
       @onclick="() => Click(ToolbarButton.Bold)">
        <span class="oi oi-bold"></span>
        <span class="tooltip">Bold</span>
    </a>
    <a class="btn btn-sm toolbar-btn@(Italic ? "-selected": "")"
       @onclick="() => Click(ToolbarButton.Italic)">
        <span class="oi oi-italic"></span>
        <span class="tooltip">Italic</span>
    </a>
    <a class="btn btn-sm toolbar-btn@(Strikethrough ? "-selected": "")"
       @onclick="() => Click(ToolbarButton.Strikethrough)">
        <span id="strikethrough">S</span>
        <span class="tooltip">Strikethrough</span>
    </a>
    <a class="btn btn-sm toolbar-btn@(Header1 ? "-selected": "")"
       @onclick="() => Click(ToolbarButton.Header1)">
        <span class="oi oi-header">1</span>
        <span class="tooltip">Header 1</span>
    </a>
    <a class="btn btn-sm toolbar-btn@(Header2 ? "-selected": "")"
       @onclick="() => Click(ToolbarButton.Header2)">
        <span class="oi oi-header">2</span>
        <span class="tooltip">Header 2</span>
    </a>
    <a class="btn btn-sm toolbar-btn@(Header3 ? "-selected": "")"
       @onclick="() => Click(ToolbarButton.Header3)">
        <span class="oi oi-header">3</span>
        <span class="tooltip">Header 3</span>
    </a>
    <a class="btn btn-sm toolbar-btn@(InlineCode ? "-selected": "")"
       @onclick="() => Click(ToolbarButton.InlineCode)">
        <span>&lt;&gt;</span>
        <span class="tooltip">Inline Code</span>
    </a>
    <a class="btn btn-sm toolbar-btn@(CodeBlock ? "-selected": "")"
       @onclick="() => Click(ToolbarButton.CodeBlock)">
        <span class="oi oi-code"></span>
        <span class="tooltip">Code Block</span>
    </a>
    <a class="btn btn-sm toolbar-btn@(BulletList ? "-selected": "")"
       @onclick="() => Click(ToolbarButton.BulletList)">
        <span class="oi oi-list"></span>
        <span class="tooltip">Bullet List</span>
    </a>
    <a class="btn btn-sm toolbar-btn@(NumberedList ? "-selected": "")"
       @onclick="() => Click(ToolbarButton.NumberedList)">
        <span class="numbered-list-row" style="top: 2px;">1 ____</span>
        <span class="numbered-list-row" style="top: 8px;">2 ____</span>
        <span class="numbered-list-row" style="top: 14px;">3 ____</span>
        <span class="tooltip">Numbered List</span>
    </a>
</div>

@code {
    [Parameter]
    public string Style { get; set; } = "";
    [Parameter]
    public bool Bold { get; set; }
    [Parameter]
    public bool Italic { get; set; }
    [Parameter]
    public bool Strikethrough { get; set; }
    [Parameter]
    public bool InlineCode { get; set; }
    [Parameter]
    public bool CodeBlock { get; set; }
    [Parameter]
    public bool Header1 { get; set; }
    [Parameter]
    public bool Header2 { get; set; }
    [Parameter]
    public bool Header3 { get; set; }
    [Parameter]
    public bool NumberedList { get; set; }
    [Parameter]
    public bool BulletList { get; set; }
    [Parameter]
    public EventCallback<ToolbarButton> ButtonClick { get; set; }

    private async void Click(ToolbarButton btn)
    {
        await ButtonClick.InvokeAsync(btn);
    }
}
