@inject IJSRuntime JsRuntime

<div class="toolbar" style="@Style">
    <button class="btn btn-sm toolbar-btn@(Bold ? "-selected" : "")"
            @onclick="() => Click(ToolbarButton.Bold)">
        <span class="oi oi-bold"></span>
        <span class="tooltip">Bold</span>
    </button>
    <button class="btn btn-sm toolbar-btn@(Italic ? "-selected" : "")"
            @onclick="() => Click(ToolbarButton.Italic)">
        <span class="oi oi-italic"></span>
        <span class="tooltip">Italic</span>
    </button>
    <button class="btn btn-sm toolbar-btn@(Strikethrough ? "-selected" : "")"
            @onclick="() => Click(ToolbarButton.Strikethrough)">
        <span id="strikethrough">S</span>
        <span class="tooltip">Strikethrough</span>
    </button>
    <button class="btn btn-sm toolbar-btn@(Header1 ? "-selected" : "")"
            @onclick="() => Click(ToolbarButton.Header1)">
        <span class="oi oi-header">1</span>
        <span class="tooltip">Header 1</span>
    </button>
    <button class="btn btn-sm toolbar-btn@(Header2 ? "-selected" : "")"
            @onclick="() => Click(ToolbarButton.Header2)">
        <span class="oi oi-header">2</span>
        <span class="tooltip">Header 2</span>
    </button>
    <button class="btn btn-sm toolbar-btn@(Header3 ? "-selected" : "")"
            @onclick="() => Click(ToolbarButton.Header3)">
        <span class="oi oi-header">3</span>
        <span class="tooltip">Header 3</span>
    </button>
    <button class="btn btn-sm toolbar-btn@(InlineCode ? "-selected" : "")"
            @onclick="() => Click(ToolbarButton.InlineCode)">
        <span>&lt;&gt;</span>
        <span class="tooltip">Inline Code</span>
    </button>
    <button class="btn btn-sm toolbar-btn@(CodeBlock ? "-selected" : "")"
            @onclick="() => Click(ToolbarButton.CodeBlock)">
        <span class="oi oi-code"></span>
        <span class="tooltip">Code Block</span>
    </button>
    <button class="btn btn-sm toolbar-btn@(BulletList ? "-selected" : "")"
            @onclick="() => Click(ToolbarButton.BulletList)">
        <span class="oi oi-list-rich"></span>
        <span class="tooltip">Bullet List</span>
    </button>
    <button class="btn btn-sm toolbar-btn@(NumberedList ? "-selected" : "")"
            @onclick="() => Click(ToolbarButton.NumberedList)">
        <img src="/Images/numberedList.png" width="18" />
        <span class="tooltip">Numbered List</span>
    </button>
    <button class="btn btn-sm toolbar-btn"
            @onclick="() => Click(ToolbarButton.UploadFile)">
        <span class="oi oi-file"></span>
        <span class="tooltip">Upload File</span>
    </button>
    <InputFile OnChange="HandleFileSelected" id="blazor-input-file" />
</div>

@code {
    [Parameter]
    public string Style { get; set; } = "";
    [Parameter]
    public bool Bold { get; set; }
    [Parameter]
    public bool Italic { get; set; }
    [Parameter]
    public bool Strikethrough { get; set; }
    [Parameter]
    public bool InlineCode { get; set; }
    [Parameter]
    public bool CodeBlock { get; set; }
    [Parameter]
    public bool Header1 { get; set; }
    [Parameter]
    public bool Header2 { get; set; }
    [Parameter]
    public bool Header3 { get; set; }
    [Parameter]
    public bool NumberedList { get; set; }
    [Parameter]
    public bool BulletList { get; set; }
    [Parameter]
    public EventCallback<ToolbarButton> ButtonClick { get; set; }
    [Parameter]
    public EventCallback<IFileListEntry[]> FilesAttached { get; set; }


    private async void Click(ToolbarButton btn)
    {
        if (btn == ToolbarButton.UploadFile)
        {
            await JsRuntime.InvokeVoidAsync("inputFileClick");
        }
        else
        {
            await ButtonClick.InvokeAsync(btn);
        }
    }

    private async void HandleFileSelected(IFileListEntry[] files)
    {
        await FilesAttached.InvokeAsync(files);
    }
}